.dont-forget-to-add{
    font-size: 1em;
    width: 100%;
    border: 0;
    padding: 8px 24px;
    border-radius: 2em;
    background-color: #e8eef0;
    margin-bottom: 16px;
    outline: none;
    transition: all ease-in-out 100ms;
}
.dont-forget-to-add:focus{
    box-shadow: 0 0 0 2px #f5f7f8, 0 0 3px 3px #00BCD4;
}