.dont-forget-to-item{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 0 0 4px;
    border-radius: 3px;
    outline: none;
}
.dont-forget-to-item > .drag-task{
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 0 6px;
    background-color: rgba(96, 125, 139, 0.15);
    color: rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0,0,0,.1);
}
.dont-forget-to-item > .toggle-task{
    cursor: pointer;
    color: rgba(96, 125, 139, .35);
    margin: 0 8px;
}
.dont-forget-to-item.done > .toggle-task{
    color: #4caf50;
}
.dont-forget-to-item > input{
    font-size: 1em;
    flex: 1 1 auto;
    text-align: left;
    margin: 6px 0;
    border: none;
    padding: 4px 1em;
    outline: none;
    border-radius: 2em;
    background-color: #607d8b;
    color: rgba(255, 255, 255, .75);
    font-weight: 600;
    transition: all ease-in-out 100ms;
}
.dont-forget-to-item > input:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 3px #00BCD4;
}
.dont-forget-to-item.done > input{
    opacity: .3;
    text-decoration: line-through;
}
.dont-forget-to-item > .delete-task{
    cursor: pointer;
    color: crimson;
    margin: 0 8px;
}