.dont-forget-to-item{
    border-top: 1px solid #ddd;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.dont-forget-to-item > .toggle-task{
    cursor: pointer;
    color: rgba(96, 125, 139, .35);
}
.dont-forget-to-item.done > .toggle-task{
    color: #4caf50;
}
.dont-forget-to-item > span{
    font-size: 1em;
    flex: 1 1 auto;
    text-align: left;
    margin: 0 8px;
}
.dont-forget-to-item.done > span{
    color: #dddddd;
    text-decoration: line-through;
}
.dont-forget-to-item > .delete-task{
    cursor: pointer;
    color: crimson;
}