.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.App-header{
    text-align: center;
}
.App-title {
    margin: auto;
    padding: .67em 0 16px;
}

.App-main {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}
.App-footer{
    text-align: center;
    padding: 4px 0;
}