@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:400,500');
* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
body{
    background-color: #f5f7f8;
    font-size: 18px;
    margin: 0;
    padding: 0;
}